<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=DESKTOP-120UP62\LOCALHOST;Database=UmbrellaBlog;User Id=sa; Password=sqlserver2016;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>