@{
    ViewBag.Title = "Contact";
}
<h2 id="subTitle">@ViewBag.Title.</h2>
<div id="Form">
    <h3>@ViewBag.Message</h3>
    <hr id="blackHr"/>
    <address>
        526 S Main Street<br />
        Akron, OH 44311<br />
        
    </address>

   <div>

       <h3>Designed By:</h3> 
       <hr id="blackHr" />
           <strong>Crissy Miller <br />   Diego Cabrera <br/>  Nick Haumann </strong> 
          
           

   </div>




</div>

